h1 {
    font-size: 5rem;
}

body {
    word-wrap: break-word;
}

button {
    font-size: 3rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #DFF;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #FDF;
    }
}

